body {
    color: #4a4a4a;
    /* font-size: 1em; */
    /* font-weight: 400; */
    /* line-height: 2; */

    /* font-family: 'Nunito Sans', sans-serif; */
    /* font-family: 'Kaisei HarunoUmi', serif; */
    /* font-family: 'Roboto', sans-serif;
     */
    font-family: 'Lato', sans-serif;
}

@media screen and (max-width: 600px) {
    #nav-tabs {
        height: 20vh;
        flex-direction: column;
        flex-wrap: wrap;

    }


    .tabs.is-boxed a {
        border-radius: 4px;

    }


    #index-intro {
        margin: 1rem;
        /* margin-left: 3rem; */
    }
}


#overview {
    margin-left: 5rem;
    margin-right:5rem;
}

#index-intro {
    margin: 2rem;
    margin-left: 3rem;
}

.tabs a {
    color: #F1F3FA;
    ;
}

.footer a {
    color: aliceblue;
}

.footer a:hover {
    color: skyblue;
}

.title {

    /* font-family: 'Playfair Display', serif; */
    font-weight: 600;
    font-family: 'Libre Baskerville', serif;
}

.title {
    font-weight: 600;
    font-size: 2.5rem;
    color: #F1F3FA;
}

.content .title {
    color: #3d3d3d;
}

p {
    font-weight: 400;
    font-size: large;
}

li {

    border: none;
    text-align: center;
    transition: all 0.5s;
    cursor: pointer;
}

#pubtab li {
    text-align: left;
    line-height: 2rem
}

#pubtab .title {
    margin-top: 1rem;
}

#pubtab a:hover {
    position: -2px;

}

#pubtab li:hover a {
    padding-right: 0px;

}

li a {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

li a:after {
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

li:hover a {
    padding-right: 25px;
}

li:hover a:after {
    opacity: 1;
    right: 0;
}

.is-active {
    color: black
}